@charset "UTF-8";
/* All about navagiation bar */
.navbar{
    background-color:#d5f1f8;
    border-radius: 2455px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.navbar img{
    width:91px;
    height: 79px;
    margin-right: auto;
}
.button{
   display: inline;
   padding: 14px 22px;
   margin: 12px;
  
   text-decoration: none;

  

}
.button:hover{
    color:white;
    background-color: #0065ff;
    border: 2px solid #0065fff8;
    border-radius:24px;
   
}


.menu-bar{
    display:none;
}
/*media quer */
@media all and (max-width:737px) {
    .menu-bar{
        display: block;
        position: absolute;
        right: 13px;
        top:34px;
        text-decoration: none;

    }
    .navbar{
        flex-direction: column;
        border-radius: 0px;
    }
    .button-main{
          
           
            width: 100%;
            text-align: center;
            padding-top: 12px;
            margin-top: 39px;
            border-radius: 0px;
        
    }
    .menu-items{
        display: none;
    }
    .active{
        display:block;
        
    }
    .navbar img{
        width:91px;
        height: 79px;
        margin: auto;}

    .button{
        display: block;
       padding: 9px 16px;
    margin: 14px;
    border-top: 1px solid white;
    text-decoration: none;
    }
}
/* tywriter aniumation */

/* .body_text{
    background: navajowhite;
    background-size: cover;
    font-family: Play; 
    border:2px solid black;
  }
  .main_type{
  display:flex;
  border:2px solid red;}
 .big_img{
 
 justify-self:end;
  width:200px;
  height:200px;
  margin-left:20px;
  margin-right:20px;
  
  }
  a{
    color: mediumseagreen;
  }
  .c1,.c2,.c3,.c4{
    display: inline-block;
  }
 
  h1{
    font-size: 3.2rem;
    margin-top: 1%;
  }
  h1 .type{
      font-size: 2.5rem;
      overflow: hidden;
      border-right: .15em solid blue ;
      white-space: nowrap; 
      width: 0;
      animation: 
        typing 1s steps(25, end) forwards;
  }
  h1 .type2{
      font-size: 2.5rem; 
      overflow: hidden;
      border-right: .15em solid orange;
      white-space: nowrap; 
      width: 0;
      animation: 
        typing 1s steps(25, end) forwards;
      animation-delay: 1s;
  }
  h1 .type3{
  
      font-size: 2.5rem; 
      overflow: hidden;
      border-right: .15em solid orange; 
      white-space: nowrap; 
      width: 0;
      animation: 
        typing 1s steps(25, end) forwards;
      animation-delay: 2s;
      
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink {
    from { border-color: transparent;}
    to { border-color: orange; }
  }
 
*/
 
 .main_container{
  display:flex;
  flex-direction:row;
  height:500px;
   border:2px solid black;
  }
  .main_content{
  border:2px solid red;}
.main_container img{
	border:2px solid blue;
	width:200px;
	margin-left:auto;
	height:200px;
	margin-top:20px;
	margin-right:220px;
	animation-name:main_animation;
	animation-time:20s;
} 
@-webkit-keyframes main_animation {
   from {
     margin-top:20px;
   }
   
   to {
      margin-top:231px;

}

/* for contact page */
.contactus{
border:2px solid red;
}
.element{

padding-top:20px;}
       